.cardContainer {
    min-width: 260px;
    max-width: 380px;
    height: 500px;
    position: relative;
    flex-grow: 1;  
    background-color:rgb(244, 242, 239);
    text-align: center;
    border-radius: 15px;
}

.cardImage {
    min-width: 250px;
}