* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    background-color: black;
    color: white;
    margin: 10px 15px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: red;
}

h1{
    font-size: 40px;
    font-weight: 300;
    margin-top: 10px;
    
}